.info-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  overflow: hidden;
  background-color: #00000079;
}

.info-modal:not(.is-hidden) {
  animation: fadeIn 250ms ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.is-hidden {
  visibility: hidden;
}
.open-modal {
  border-radius: 5px;
  display: flex;
  flex-direction: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.3;
  text-align: center;
  color: #8c8c8c;
  border: 1px solid #000;
  background-color: transparent;
  transition: background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1),
    color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
  background-color: #fff;
  margin: 0 auto;
  position: relative;
  padding: 40px 12px;
  width: 100%;
  max-width: 806px;
  height: 100%;
  // max-height: 558px;
  border-radius: 3px;
  height: max-content;
}

.closeModal {
  width: 14px;
  height: 14px;
  position: absolute;
  top: 16px;
  right: 16px;
  cursor: pointer;
  opacity: 0.7;
}

.closeModal:hover {
  opacity: 1;
}

.closeModal:before,
.closeModal:after {
  position: absolute;
  left: 5px;
  content: ' ';
  height: 14px;
  width: 2px;
  background-color: #000;
}

.closeModal:before {
  transform: rotate(45deg);
}

.closeModal:after {
  transform: rotate(-45deg);
}

#movie-card {
  height: auto;
  width: auto;
  border-radius: 5px;
}

#modal-content {
  display: flex;
  align-items: start;
  width: 100%;
}

.left-descr-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #8c8c8c;
  margin-bottom: 8px;
}

.left-descr-content:last-child {
  margin-bottom: 0;
}

#left-content {
  height: auto;

  img {
    width: 375px;
    height: 478px;
  }
}

#right-content {
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: start;
  color: black;
  max-width: 50%;
  font-size: 16px;
  line-height: 1.5;
  text-align:left;
  margin-right: 12px;
  margin-left: 16px;
}

.right-mini-container {
  width: 375px;
  height: 478px;
}


#film-img {
  width: 375px;
  height: 478px;
  background-size: cover;
  background-repeat: no-repeat;
}

#film-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  margin-bottom: 20px;
  margin-top: 0px;
}

#description {
  margin-bottom: 20px;
}

#votes,
#popul,
#origTitle,
#genre {
  color: black;
}

#about {
  margin-bottom: 20px;
  font-weight: 500;
  line-height: 20px;
  width: 400px;
  height: 210px;
  overflow: auto;
  flex-grow: 1;
}

@keyframes opening {
  from {
    transform: translateX(-50%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes closing {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

.about-wrapper {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  gap: 20px;

  span {
    font-weight: 500;
    line-height: 16px;
    text-transform: uppercase;
    margin-bottom: 8px;
  }
}

.btn_section {
  //FOR BUTTONS
  display: flex;

  @media screen and (min-width: 480px) {
    gap: 20px;
  }

  @media screen and (min-width: 768px) {
    gap: 15px;
  }

  @media screen and (min-width: 1280px) {
  }
}

.add-to-watched-btn,
.add-to-queue-btn {
  border-radius: 5px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.3;
  text-align: center;
  color: #8c8c8c;
  border: 1px solid #000;
  background-color: transparent;
  transition: background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1),
    color 0.25s cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: #8c8c8c;
    color: #000;
    border-color: transparent;
  }

  @media screen and (min-width: 768px) {
    min-width: 125px;
    padding: 14px 10px 12px;
  }

  @media screen and (min-width: 1280px) {
    min-width: 136px;
  }
}

.add-to-queue-btn,
.add-to-watched-btn {
  @media screen and (min-width: 480px) and (max-width: 767px) {
    padding: 6px 13px;
    max-width: 110px;
  }
}

//BUTTONS

@media screen and (max-width: 1280px) {
  #modal {
    // width: 704px;
    padding: 40px 36px;
  }

  #right-content {
    margin-left: 66px;
  }

  #film-title {
    font-size: 20px;
    line-height: 23.44px;
  }

  #film-img {
    width: 240px;
    height: 357px;
  }
}

@media screen and (max-width: 768px) {
  #movie-card {
    overflow: hidden;
  }

  #content {
    display: flex;
    flex-direction: column;
    max-height: 460px;
    overflow-y: scroll;
    width: 245px;
    margin: 0;
  }

  #content::-webkit-scrollbar {
    width: 5px;
  }

  #film-title {
    font-size: 20px;
    line-height: 23.44px;
  }

  #left-content,
  #right-content {
    width: 100%;
    max-width: 100%;
    margin: 0;
  }

  #right-content {
    padding: 0;
    margin-top: 20px;
    width: 240px;
  }

  #left-content {
    width: 240px;
    height: 357px;
  }

  #modal {
    max-width: 320px;
    padding: 48px 20px;
    max-width: 280px;
  }
}

.img-posters {
  position: relative;
  transition: 0.4s;
  width: 375px;
  height: 478px;
  aspect-ratio: 0.6666667;
}
