<section class="gallery">
  <div class="container">
    <ul class="movies"></ul>
    <div class="pagination"></div>
  </div>
</section>
<section class="gallery">
  <div class="container">
    <h2 class="watch_trailer">Watch trailer</h2>
    <div class="swiper">
             <svg class="swiper-button-prev-icon">
          <use href=""></use>
        </svg>
      </div>
      <div class="swiper-button-next">
        <svg class="swiper-button-next-icon">
          <use href=""></use>
        </svg>
      </div>
    </div>
   
    <ul class="movies"></ul>
    <div class="pagination"></div>
  </div>
</section>