<section class="gallery-home">


<h2> Now Playing</h2>
  <div class="empty-library-message">

    <h2>Your movie library is empty!</h2>
    <p>
        Explore the world of movies and add your favorites to your library.
    </p>
  </div>

<div class="movie-library-container">
<ul class="movie-library-list" id="movies-list-home">
</ul>
</div>


  <!-- <div class="container">
    <h2 class="swiper-title animate__animated animate__infinite animate__pulse">
      Watch trailer
    </h2>
    <div class="swiper">
      <ul class="swiper-wrapper"></ul>
      <div class="swiper-button-prev">
        <svg class="swiper-button-prev-icon">
          <use href="#"></use>
        </svg>
      </div>
      <div class="swiper-button-next">
        <svg class="swiper-button-next-icon">
          <use href="#"></use>
        </svg>
      </div>
    </div>
    <div>
      <img
        class="nothing animate__animated"
        src="../static/images/nothing.jpg"
        alt="nothing"
      />
    </div>
    <ul class="movies"></ul>
    <div class="pagination"></div>
  </div> -->
</section>
