<header class="global-header">
  <section class="header-container">
    <div class="header-nav">
      <nav class="header-main-nav">
        <div class="header-list-button">
          <div class="header-list-item">
            <a href="./index.html" class="link header-link home-page">HOME</a>
          </div>
          <div class="header-list-item">
            <a href="./library.html" class="link header-link library-page"
              >MY LIBRARY</a
            >
          </div>
        </div>

        <div class="header-search-container">
          <form class="header-search">
            <input
              type="text"
              name="searchMovie"
              autocomplete="off"
              placeholder="Movie Search"
              class="header-input"
            />
            <!-- <button class="header__search-buttn">
            <svg class="header__icon search">
              <use href="./images"></use> svg search -->
            <!-- </svg>
          </button> -->
          </form>
          <p class="header-message">
            Search result not successful. Enter the correct movie name.
          </p>
        </div>
      </nav>
      <div class="header-logo">
        <a href="./index.html" class="header-logo-link link">
          <svg class="header-icon film">
            <use href="../static/images/simbol-defs.svg#icon-film"></use>
          </svg>

          <p>Filmoteka</p>
        </a>
      </div>
    </div>
  </section>
</header>
