<button id="open-modal" class="open-modal" data-modal-open-movie type="button">
  Open Modal
</button>
<div id="info-modal" class="info-modal is-hidden" data-modal>
  <div id="modal" class="modal">
    <button id="trailerBtn" class="trailer-btn">Watch Trailer</button>
    <div id="close-modal" class="closeModal" data-modal-close></div>

    <div id="movie-card">
      <div id="modal-content">
        <div id="left-content" class="img-posters">
          <img id="film-img" alt="Film Image"></img>
        </div>
        

        <div id="right-content">
          <div class = "right-mini-container">
            <h2 id="film-title"></h2>
            <div id="description">
                  <div class="left-descr-content">
                    Votes
                    <div id="votes"></div>
                  </div>
                  <div class="left-descr-content">
                    Popularity
                    <div id="popul"></div>
                  </div>
                  <div class="left-descr-content">
                    Original title
                    <div id="origTitle"></div>
                  </div>
                  <div class="left-descr-content">
                    Genre
                    <div id="genre"></div>
                  </div>
            </div>

            <div class="about-wrapper">
              <span>About</span>
              <div id="about" class ="about-box"></div>
            </div>
          </div>
          <div class="btn_section" id="buttonSection">
            <button
              type="button"
              class="add-to-watched-btn"
              id="btn"
              data-value="add"
            >
              ADD TO WATCHED
            </button>

            <button
              type="button"
              class="add-to-queue-btn"
              id="btn"
              data-value="add"
            >
              ADD TO FAVORITE
            </button>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
